.body {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.project-content {
  height: calc(100% - 73px);
  display: flex;
  flex-direction: row;
}

.project-display {
  display: flex;
  flex-direction: column;
  /* width: 100%; */
  flex: 1
}

.krneki {
  height: calc(100% - 78px);
  display: flex;
  flex-direction: row;
}

.users {
  display: flex;
  width: 250px;
}