
.project-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  border-bottom: 1px solid #ddd;
}

.project-header button {
  padding: 10px 20px;
  color: #fff;
  background-color: var(--accent-color);
  border: none;
  border-radius: 10px;
  margin-left: 20px;
  font-weight: bold;
  cursor: pointer;
}
