.project-sidebar {
  background-color: rgb(236, 236, 236);
  width: 350px;
  height: 100%;
  overflow-x: hidden;
  border-right: 1px solid #ddd;
}

.project-list {
  overflow-y: auto;
  height: calc(100% - 80px);
}

.sidebar-header {
  padding: 0 15px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 15px 0;
}

/*.sidebar-header h2 {
  margin-bottom: 12px;
}*/

.sidebar-header button {
  position: relative;
  float: right;
  border: none;
  border-radius: 10px;
  background-color: var(--accent-color);
  padding: 15px 20px;
  color: #fff;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
}