.auth-form-container {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px 50px;
  position: relative;
  border-radius: 10px;
}

.form-heading {
  margin: 20px 0
}

.register-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.register-form form {
  display: flex;
  flex-direction: column;
  width: 350px;
}

.register-form input {
  padding: 10px;
  border: 1px solid rgb(207, 207, 207);
  border-radius: 10px;
  margin: 0 0 10px 0;
}

.form-bottom {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-group {
  display: flex;
  flex-direction: column;
}

.form-row {
  display: flex;
  /* was row before */
  flex-direction: column;
}


.form-row :nth-child(1){
  margin-right: 2px;
}

.form-row :nth-child(2){
  margin-left: 2px;
}

.register-form button {
  padding: 10px;
  color: #fff;
  background-color: var(--accent-color);
  border: none;
  border-radius: 10px;
  margin: 10px 0 0 0;
  font-weight: bold;
  cursor: pointer;
}

.register-left {
  background-color: #fff;
  background-image: url('../assets/images/tasks.png');
  background-position: center;
  background-size: 70%;
  background-repeat: no-repeat;
  width: 50%;
}

.register-right {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(134, 235, 235);
}

.register-left a {
  position: absolute;
  bottom: 0;
  text-decoration: none;
  color: #000;
}

.page {
  display: flex;
  flex-direction: row;
  height: calc(100% - 74px);
}

.login {
  height: 100vh;
}