.auth-form-container {
  border: 2px solid #ccc;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px 10px;
  width: 500px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 10px;
}

.form-heading {
  margin: 20px 0
}

.register-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.register-form form {
  display: flex;
  flex-direction: column;
}

.register-form input {
  padding: 10px;
  border: 1px solid rgb(207, 207, 207);
  border-radius: 10px;
  margin: 0 0 10px 0;
}

.form-group {
  display: flex;
  flex-direction: column
}

.form-row {
  display: flex;
  flex-direction: row;
}

.form-row input {
  
}

.register-form button {
  padding: 10px;
  color: #fff;
  background-color: var(--accent-color);
  border: none;
  border-radius: 10px;
  margin: 10px 0 0 0;
  font-weight: bold;
  cursor: pointer;
}