.task-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  border-radius: 5px;
  padding: 15px;
  margin: 0 0 15px 0;
}

.task-item input {
  
}

.task-item p {
  cursor: pointer;
}

.priority-important {
  background-color: #ff0a0a;
  padding: 0 10px;
  color: #fff;
  border-radius: 5px;
}

.priority-normal {
  background-color: #f2ce02;
  padding: 0 10px;
  color: #fff;
  border-radius: 5px;
}

.priority-low {
  background-color: #85e62c;
  padding: 0 10px;
  color: #fff;
  border-radius: 5px;
}