.user-item {
  margin-bottom: 15px;
}

.project-user-list {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}

.user-sidebar-header {
  padding: 15px;
}

.member-list {
  padding: 0 15px;
  overflow-y: auto;
}